{{#if projects}}
	{{#each projects}}

		<div class="column">
    		<img class="thumbnail" src="/images/portfolio/{{image}}">
    		<h5>{{title}}</h5>
    		<p class="show"><a href="/details/{{id}}">Show More</a></p>
		</div>
	{{/each}}
{{else}}
	<p>No projects</p>

{{/if}}
            